extends ../layout

block content
  .container
    h1.main-title Event Edit
    form(action=`/users/${event.id}?_method=PUT`, method='POST')
      .form-group
        label 제목
        input.form-control(name='eventName', value=event.eventName)
      .form-group
        label 장소
        input.form-control(name='place', value=event.place)
      .form-group
        label 시작시간
        input.form-control(name='startTime', value=event.startTime)
      .form-group
        label 종료시간
        input.form-control(name='endTime', value=event.endTime)
      .form-group
        label 분야
        p
          label business
          input(type='radio', name='category', value='Business')
          label Science&amp;Tech
          input(type='radio', name ='category' value='Science&Tech')
          label Arts
          input(type='radio', name ='category' value='Arts')
          label Health
          input(type='radio', name ='category' value='Health')
          label Other
          input(type='radio', name ='category' value='Other')
      .form-group
        label 상세 설명
        input.form-control(name='eventExp', value=event.eventExp)
      .form-group
        label 가격
        .span
          input(type='radio', name='isfree')
          label 무료
        .span
          input(type='radio', name='isfree')
          label 유료
          input(type="text" name='price', value=event.price)
      .form-group
        label 조직 이름
        input.form-control(name='groupName', value=event.groupName)
      .form-group
        label 조직 설명
        input.form-control(name='groupExp', value=event.groupExp)    
      
        a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
        | 
        button.btn.btn-primary(type='submit') Update
